[Unit]
Description=FloodUI
After=network-online.target openvpn-own-client.service rtorrent.service

[Service]
WorkingDirectory=/opt/flood
ExecStart=/usr/bin/npm start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=rtorrent
Group=rtorrent
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target